@media (max-width: 75em) {
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 10;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
@media (max-width: 97.5em) {
}
@media (max-width: 1800px) {
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    padding: 0rem 7rem;
    text-align: center;
  }
}

@media (max-width: 1536px) {
  img.vector3 {
    display: none;
  }
  img.college-student {
    display: none;
  }

  img.purple-background {
    display: none;
  }
  img.small-yellow-color {
    display: none;
  }
  img.big-yellow-color {
    display: none;
  }
  img.small-orange-color {
    display: none;
  }
}
@media (max-width: 1053px) {
  img.header-img {
    display: none;
  }
  img.backgroud-orange {
    display: none;
  }
  img.big-orange-color {
    display: none;
  }
}
@media (max-width: 1053px) {
  img.vector1 {
    position: absolute;
    top: -5rem;
    left: -74rem;
  }
}
